<a
	{...Astro.props}
	target="_blank"
	rel="noopener"
	role="link"
	class="inline-flex items-center gap-2 px-4 py-1 border rounded-full bg-gray-800 border-gray-800 text-sm hover:bg-gray-900 hover:text-black-300 transition-all 
	duration-200 hover:border-gray-700 hover:shadow-[0_0_10px_1px_rgba(168,85,247,1)] transition hover:scale-105"
>
	<slot />
</a>
