<h2 class="flex items-center justify-center gap-x-3 text-3xl text-white font-semibold mb-5 ">
	
	<slot />
</h2>
<div class="h-px mx-auto w-20 bg-gradient-to-r from-white/80 to-transparentmb mb-10 "></div>
